@{
    ViewData["Title"] = "Inviter un utilisateur";
}
@model CiteU.Models.User.InvitationViewModel

<h1>Inviter un utilisateur</h1>


<form asp-controller="User" asp-action="InscrireUser" method="get" class="container">
    <div class="input-group">
        <label asp-for="MailUser">Mail</label>
        <input asp-for="MailUser" class="form-control" />
        <br /><span asp-validation-for="MailUser" class="text-danger"></span>
    </div>
    <div class="input-group">
        <label asp-for="DroitUser" >Droit</label>
        <select asp-for="DroitUser" class="form-control select2">
            @foreach (var droit in Model.AllDroits)
            {
                <option value="@droit.IdDroit">@droit.Libelle</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Envoyer le mail d'inscription</button>
</form>